@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --max-width: min(calc(100% - 2rem), 70vw);

  --border-clr: #ececec;

  --primary-clr-dark: #353b41;
  --primary-clr-purple: #603fef;
  --primary-clr-violet: #8a2be2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-width: 375px;
  position: relative;
}

.setWidth {
  max-width: var(--max-width);
  margin-inline: auto;
}
